.page {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 15% 85%;
  overflow: hidden;
  color: rgb(205, 205, 205);
}

.welcomeMessageContainer {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  white-space: nowrap;
  z-index: 5;
  transition: 1s ease-out;
}

.welcomeMessage {
  transition: 1s ease-out;
  font-size: 6dvw;
}

.welcomeMessageContainer.hide {
  opacity: 0;
  visibility: hidden;
}

.welcomeMessage.hide {
  opacity: 0;
  font-size: 4dvw;

  transform: translateY(-40dvh);
}

@media (max-aspect-ratio: 1/0.7) {
  .page {
    grid-template-columns: 0% 100%;
  }
}
